* {
    --boxShadowRight: 1px 0px rgba(0, 0, 0, 0.5);
    --boxShadowUpBlack: 0px 1px rgba(0, 0, 0, 0.5);
    --boxShadowUpWhite: 0px 1px rgba(255, 255, 255);
}

#container {
    border: 1px solid rgb(0, 0, 0);
    width: 35vw;
    height: 100%;
    display: flex;
    gap: 1.5em;
}

#left-side {
    display: flex;
    flex-direction: column;
    padding-right: 1.5em;
    padding-left: 1.5em;
    box-shadow: var(--boxShadowRight);
    background-color: #3B3B3D;
    color: #FFFFFF;
    padding-bottom: 1em;
}

#left-side-text {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

#left-side img {
    margin: 0.5em 0em;
}

#info h2, #extraInfo h2 {
    margin-bottom: 0.7em;
    padding-bottom: 0.1em;
    box-shadow: var(--boxShadowUpWhite);
}

#education h2, #experience h2 {
    box-shadow: var(--boxShadowUpBlack);
    padding-bottom: 0.1em;
}

#skills h4, #languages h4 {
    margin: 1em 0em;
}

#info p {
    margin-bottom: 0.4em;
}

#right-side {
    display: flex;
    flex-grow: 1;
    padding-right: 1.5em;
    flex-direction: column;
    padding-bottom: 1em;
}

#top-side {
    padding-top: 2em;
}

#top-side p {
    padding-top: 0.5em;
}

#education, #experience {
    padding-top: 2em;
}

#education div, #experience div {
    padding-top: 1em;
}