fieldset {
    padding: 1em;
}

textarea {
    resize: none;
}

#inputs, #aboutInp, #educationInp, #experienceInp, #skillsInp, #languagesInp, .exp, .edu {
    display: flex;
    flex-direction: column;
}