* {
    --boxShadowUpBlack: 0px 1px rgba(0, 0, 0, 0.5);
}

form {
    padding: 1em 2em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

textarea {
    width: 25em;
}

button {
    width: 10em;
    align-self: center;
    margin-top: 0.2em;
}

textarea {
    resize: none;
}

input[type="date"] {
    width: 8em;
}

.exp input[type="text"] {
    width: 14em;
}

#inputs, #aboutInp, #educationInp, #experienceInp, #skillsInp, #languagesInp, .exp, .edu {
    display: flex;
    flex-direction: column;
}

.exp div, .edu div {
    display: flex;
    justify-content: space-between;
}

#aboutInp, #educationInp, #experienceInp, #extraInfoInp {
    margin-bottom: 0.3em;
}