.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@media print {
    #container {
        width: 100%;
        height: 100vh;
        box-shadow: none;
    }
}

header {
    background-color: black;
    color: white;
    padding: 1em;
}

footer {
    background-color: black; 
    color: white;
    text-align: center;
}

#middle-part {
    padding: 1em 0em;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    background-color: orange;
}
